/*Selector Universal*/   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

div {
    padding: 10px;
}

div input, select, p {
    margin: 10px;
    padding-left: 7px;
    font-size: larger;
    border: 2px solid #885f5f;
    width: 250px;
    height: 29px;
    background-color: #fff;
}

p {
    padding-top: 1px;
    font-size: 20px;
    font-weight: bold;
}


select {
    width: 250px;
    height: 29px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: rgba(5, 5, 5, 0.418);
    padding: 20px;
}

.formulario {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.formulario label {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

#btnCalcular, #btnLimpiar {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    background-color: blanchedalmond;
    border-radius: 2px solid #fff;
}

#btnCalcular:hover, #btnLimpiar:hover {
    transition: 0.5s;
    background-color: yellow;
}


::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

#errorAutomovil {
    display: inline;
    
}